.form-dist {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-group {
    display: flex;
    align-items: center;
}
  
label {
    margin-right: 10px;
}
  
#distance-input {
    width: 200px;
}
  
#valid-form {
    margin-top: 10px;
}
  
#map {
    height: 500px;
    width: 80vw;
}

.container {
    display:flex;
    justify-content: center;
}