.form-dist {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
label {
    margin-right: 10px;
}
  
input, button {
    padding: 5px 10px;
}
  
label {
    margin-right: 10px;
}
  
input, button {
    padding: 5px 10px;
}
  
#map {
    height: 500px;
    width: 80vw;
}

.container {
    display:flex;
    justify-content: center;
}